<% include ../partials/header %>

<!--NAVIGATION BAR FOR ADMIN-->
<% include ../partials/adminNav %>


<% include ../partials/alerts %>

<!-- POSTS -->
<section id="posts" class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header text-center">
            <h4>Recent User Activities</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Info</th>
                <th>Category</th>
                <th>Date Posted</th>
              </tr>
            </thead>
            <tbody>
              
              <%for(let i = 0; i < activities.length; i++) { %>
    
                <tr>
                <% if(activities[i].category =="Issue") { %>
                      <td>
                         <a href="/admin/users/profile/<%=activities[i].user_id.id%>" title="Visit profile">
                           <%=activities[i].user_id.username || 'This user'%></a>  issued <%=activities[i].info.title%>
                      </td>
                      <td>Issue</td>
                      <td><%=activities[i].entryTime.toDateString()%></td>
                  <% } else if(activities[i].category =="Return") { %>
                      <td>
                        <a href="/admin/users/profile/<%=activities[i].user_id.id%>" title="Visit profile">
                          <%=activities[i].user_id.username || 'This user'%> </a> returned <%=activities[i].info.title%>
                      </td>
                      <td>Return</td>
                      <td><%=activities[i].entryTime.toDateString()%></td>
                  <% }  else if(activities[i].category =="Renew") { %>
                      <td>
                        <a href="/admin/users/profile/<%=activities[i].user_id.id%>" title="Visit profile">
                          <%=activities[i].user_id.username || 'This user'%> </a> renewed <%=activities[i].info.title%>
                      </td>
                      <td>Renew</td>
                      <td><%=activities[i].entryTime.toDateString()%></td>

                  <% } %>
              </tr>
                
              <%  } %>
              
            </tbody>
          </table>
          
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="card text-center bg-primary text-white p-3 mb-3">
          <div class="card-block">
            <h3>Books</h3>
            <h1 class="display-4"><i class="fa fa-pencil"></i> <%=books_count%></h1>
            <a href="/admin/bookInventory/all/all" class="btn btn-outline-light">View</a>
          </div>
        </div>

        <div class="card text-center bg-success text-white p-3 mb-3">
          <div class="card-block">
            <h3>Users</h3>
            <h1 class="display-4"><i class="fa fa-users"></i> <%=users_count%> </h1>
            <a href="/admin/users" class="btn btn-outline-light">Users</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>

